
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, #react-mount, .root {
  font-family: Roboto;
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

*, *:after, *:before {
  -webkit-tap-highlight-color: $transparent-background;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Atomic Classes
.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.shadow {
  box-shadow: 2px 2px 2px $shadow-background;
}

.relative{
  position: relative;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.text-center{
  text-align: center;
}

.justify-around{
  justify-content: space-around;
}

.justify-between{
  justify-content: space-between;
}
