
.user-input-display {

    .input-name {
        color: black;
        margin-top: 0;
    }
    
    .input-value {
        color: black;
        font-size: 5rem;
        font-weight: lighter;
        display: inline-block;
    }
}