.illustration {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.st0 {
    fill: #39B54A;
}

.st1 {
    fill: #4D4D4D;
}

.st2 {
    fill: #006837;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #0000FF;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #1A1A1A;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #22B573;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st6 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st7 {
    fill: rgb(170, 163, 96);
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st8 {
    fill: #0000FF;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #666666;
}

.st10 {
    fill: #C1272D;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st11 {
    fill: #4D4D4D;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st12 {
    fill: #FF0000;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st13 {
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st14 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}